body {
  margin: 0;
}

header {
  background: url("https://pbs.twimg.com/media/EoILdrsXMAExd0c.jpg:large")
    no-repeat center center;
  background-size: 100%;
  margin: 0;
  border-bottom: 1px solid #c0c0c0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: aliceblue;
  height: 100px;
}

.header {
  display: inline-block;
  float: none;
  text-align: center;
}
.video {
  text-align: center;
}

footer {
  background: #be2727;
  border-top: 1px solid #201e1e;
  margin: 2em 0 0 0;
  text-align: center;
  padding: 20px 0;
  height: 70px;
  width: 100%;
  color: aliceblue;
}
footer a {
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
}
footer a:hover {
  background-color: #412a2a;
}
h1 {
  font-size: 200%;
}
