body {
  margin: 0;
}
nav {
  background: url("") no-repeat center center;
  background-size: 100%;
}
nav .opacity {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ff96968f;
}

nav a,
nav ul {
  z-index: 100;
}

nav ul li {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 70px;
}

nav ul li:hover {
  background-color: #201e1ea0;
}

.video {
  text-align: center;
}

footer {
  background: #be2727;
  border-top: 1px solid #201e1e;
  margin: 2em 0 0 0;
  text-align: center;
  padding: 20px 0;
  height: 70px;
  width: 100%;
  color: aliceblue;
}
footer a {
  color: aliceblue;
  text-decoration: none;
  padding: 5px;
}
footer a:hover {
  background-color: #412a2a;
}
h1 {
  font-size: 200%;
}

.navbar-brand {
  font-weight: 700;
}
